@model IEnumerable<AluguelCarro.Models.Endereco>

@{
    var controller = "Enderecos";
}

<table class="table table-hover table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Rua)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Numero)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bairro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Rua)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Numero)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Bairro)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cidade)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Estado)
                </td>
                <td>
                    <a asp-action="Edit" asp-controller="Enderecos" asp-route-id="@item.EnderecoId" class="btn btn-outline-primary" data-toggle="tooltip" data-placement="top" title="Atualizar endereço"><i class="far fa-edit"></i></a> &nbsp;
                    <a class="btn btn-outline-danger" data-toggle="tooltip" data-placement="top" title="Excluir endereço" onclick="ConfirmarExclusao(@item.EnderecoId, '@item.Rua', '@controller')"><i class="fas fa-trash-alt"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
